* {
  /* margin: 0px;
  padding: 0; */
  box-sizing: border-box;
}

body {
  padding: 0;
  color: rgb(30, 30, 30);
  background-color: #FAF9F6;
}

#homepage {
  background-image: url('homepage-02.png');
  background-size: cover;
}

header {
  margin-top: 20px;
  margin-bottom: -20px;
}

#welcome {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #2B5F6E;
  margin-top: 100px;
}

.centerBlock {
  width: 700px;
  margin: auto;
  padding-top: 10px;
  z-index: 1;
}


.instructiongif{
  width:700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
#continue {
  padding: 10px 20px;
  text-align: center;
  background-color: grey;
  float: right;
  font-family: Lato;
  text-decoration: none;
  color: white;
  border-radius: 10px;

}

#connected {
  visibility: hidden;
}

#connecting {
  visibility: hidden;
}

#connectBLE {
  padding: 10px 20px;
  text-align: center;
  background-color: #2B5F6E;
  font-family: Lato;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

#connectBLE:hover {
  background-color: #7DAED6;
}

.centercenterText {
  text-align: center;
  margin: auto;
  height: 300px;
  ;
}

footer {
  height: 80px;
  clear: both;
}

.dropdown {
  z-index: 4;
  margin: 0;
  padding: 5px;
  list-style: none;
  visibility: visible;
  /* width: 100px; */
  /* background-color: #0abf53; */
}

.dropdown li {
  position: relative;
}

.dropdown li a {
  color: #3A3B3C;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: #7DAED6;
}

.dropdown li ul li a {
  text-align: left;
  color: #3A3B3C;
  font-size: 14px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.fas{
  cursor: pointer;

}
.dropdown li ul li a:hover {
  background-color:#2B5F6E ;
  color: #3A3B3C;
}

.dropdown li ul li ul {
  left: 100%;
  top: 0;
}

ul li:hover>a {
  background-color: #7DAED6;
  color: #ffffff !important;
}

ul li:hover>ul {
  display: block;
    z-index: 4;
}


.nocombi{
  color:darkred !important;
}
